/* Edit styles in source.css; style.css is generated. */
$width: 480px;
$height: 320px;

*, *:before, *:after { box-sizing: border-box; }

#ad {
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: $width;
  height: $height;
  background: #fff;
  overflow: hidden;
  user-select: none;
}

.btn-overlay {
  display: block;
  position: absolute;
  z-index: 50;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-overlay:before {
  content: "";
  position: absolute;
  z-index: 99;
  inset: 0;
  border: 1px solid #666;
}

.banner {
  position: relative;
  width: $width;
  height: $height;
  background: #fff;
}

.frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.frame img {
  position: absolute;
  display: block;
}


.frame .bg {
  left: 0px;
  top: 0px;
  width: 480px;
  height: 320px;
  z-index: 1;
}

.frame .footer-bg {
  position: absolute;
  left: 0px;
  top: 235px;
  width: 277px;
  height: 86px;
  background: white;
  z-index: 5;
}

.frame .logo {
  left: 29.96px;
  top: 252.51px;
  width: 216.036px;
  height: 50.229px;
  z-index: 6;
}

.frame .cta {
  left: 277px;
  top: 235px;
  width: 203px;
  height: 85px;
  z-index: 6;
}

.frame .headline {
  left: 30.75px;
  top: 36.62px;
  width: 150.98px;
  height: 153.02px;
  z-index: 7;
}